extends layout

block content
  h1 #{title}:

    p Do you really want to delete #{memkeyboard.name}?
      |
      h4 #{memkeyboard.title}

    form(method='POST' action='')
      div
        input(type='hidden',name='memkeyboardid', required='true', value=memkeyboard._id )
        label(for="inputPass") Password :
        input(type="text", name="inputPass", required='true', class="inputDel") 
        button(type='submit', class="delBtn") Delete
    
  
  if errors
   ul
    for error in errors
     li!= error.msg